.navbar{
	border-bottom: 1px solid #ccc;
	box-shadow: 2px 2px 8px 0px #cfcfcf;
}
.avatar{
	width: 36px;
    height: 36px;
    font-size: .875rem;
}

.card{
	margin-top: 100px;
}
.nameinfo{
	margin-bottom: 20px;
}
.imgProfile{
	margin-bottom: 20px;
}
.modal-header .modal-title{
	margin: 0 auto;
}